*{
    font-family:'Courier New', Courier, monospace ;
}

body{
    background-color: antiquewhite;
    padding: 20px;
    align-content: center;
}

#box{
    margin-left: 33% ;
    background-image: url("https://i.ibb.co/NdZZLzgQ/Screenshot-2026-01-27-153944.png");
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: 320px;

    h1{
        padding-top: 145px;
    }
    button{
        border-radius: 10px;
        padding: 10px 60px;
        font-size: 20px;
        border: none;
        margin-top: none;
    }
    button:hover{
        background-color: lightgray;
        cursor: pointer;
    }
}

#letter{
    margin-left: 30% ;
    background-color: bisque;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    height: auto;
    padding:50px;
    button{
        border-radius: 10px;
        padding: 10px 60px;
        font-size: 20px;
        border: none;
        margin-top: none;
    }
    button:hover{
        background-color: lightgray;
        cursor: pointer;
    }
}